{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Courgette|Gloria+Hallelujah|Indie+Flower|Permanent+Marker|Varela+Round" rel="stylesheet">
{% endblock%}

{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <h1 class="text-center">Welcome to  S-Blog.</h1>
  <div class="post">
      {%for quote in quote%}
      <p>{{quote.quote}}</p>
      <p id="name">"{{quote.author}}"</p>  
      {%endfor%}
  </div>
  <br>
  <div class="container">
    {%for pitch in pitches%}
    <h2>{{pitch.title}}</h2>
    <h2>{{pitch.category}}</h2>
    <h2>{{pitch.content}}</h2>
    {%endfor%}
  </div>
 
     </div>
  </div>
</div>
</div>


<style>
  .post {
    text-align: center;
    font-size: 150%;
    font-family: Courgette;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 5%;
  }

  #name {
    font-weight: bold;
    font-family: Courgette;
    font-size: 175%;
  }

  .category {
    height: 3px;
    align-content: center;
    border-radius: 8px;
    background-color: #414341;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 375px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .category span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .category span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .category:hover span {
    padding-right: 25px;
  }

  .category:hover span:after {
    opacity: 1;
    right: 0;
  }




 
  .style {
    font-family: Courgette;
    text-align: center;
    font-size: 200%;
  }

  #style {
    font-size: 200%;
  }

  .category {
    padding-bottom: 50px;
  }
</style>
  

{% endblock %}
